@media (min-width: 960px) {
  body {
    max-width: 960px;
    min-width: 960px;
    margin: 0 auto;
  }

  .mobile {
    display: none;
  }

  .mobileMore {
    position: relative;
    bottom: initial;
    visibility: visible; 
  }

  div.wideSmall {
    display: inline-block;
  }
  .wideSmall iframe {
  	display: block;
  }

  .Do-you-dream-of-bein {
    position: absolute;
    top: 40px;
    width: 862px;
    height: 124px;
    font-size: 46px;
    font-weight: 300;
    text-align: left;
  }

  .Creativity-requires {
    position: absolute;
    top: 174px;
    width: 503px;
    height: 220px;
    font-size: 22px;
  }
  
  .Creativity-requires > p {
    margin-top: 10px;
  }

  .watch-now-btn {
    display: relative;
    border: solid 1px #333333;
    background: initial;
    margin: 0;
    margin-top: 20px;
    left: 0;
  }

  .videos {
    margin-top: 10px;
  }

  .show-more-btn {
    margin: 20px auto 40px;
    background-color: #0a92ca;
    text-align: center;
    position: relative;
  }

  .Rectangle-3 {
    width: 216px;
    height: 45px;
  }
  
  .Watch-Now {
    width: 96px;
    height: 24px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    margin: 0 auto;
    padding: 10px;
  }
  
  .fuel-your-passion-img,
  .whats-your-aspiration-img {
    width: 960px;
    height: 650px;
  }
	

  .video {
    position: relative;
    overflow: hidden;
    width: 300px;
    display: inline-block;
    left: 10px;
    margin: 10px 5px;
    padding-bottom: 30%;
  }

  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid lightgrey;
	}

  .aspiration-div {
    margin-top: 40px;
  }

  .A-space-where-you-ca {
   	position: absolute;
    top: 49px;
    width: 874px;
    height: 124px;
    text-align: left;
    font-size: 46px;
    text-align: left;
    margin-top: 0;
   } 
  
  .Watch-stories-of-how {
    position: absolute;
    top: 194px;
    width: 503px;
    height: 60px;
    font-size: 22px;
    text-align: left;
    margin-top: 0;
  }
  
  .Fuel-Your-Passion {
    width: 302px;
    height: 40px;
    bottom: 49px;
  }
    
  .Rectangle-4 {
    width: 960px;
    height: 464px;  
    padding: 40px 48px 0;
    text-align: center;
    box-sizing: border-box;
  }
  
  .picRow {
    display: inline-block;
    width: 276px;
    text-align: center;
  }

  .pull-left {
    float: left;
  }

  .pull-center {
    float: center
  }

  .pull-right {
    float: right;
  }
  
  .support, 
  .inspiration, 
  .tips {
    display: block;
    margin: 0 auto;
    float: none;
    width: 220px;
    height: 220px;
  }
  
  .subTitle {
    font-size: 46px;
    width: 276px;
    height: 62px;
    margin-top: 20px;
  }
  
  .picRow p {
    width: 276px;
    height: 72px;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .Do-you-dream-of-bein,
  .Creativity-requires,
  .A-space-where-you-ca,
  .Watch-stories-of-how {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .At-BH-youll-find-s {
    width: 910px;
    height: 78px;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.5px;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .Welcome-to-your-pet {
		width: 100%;
		height: 38px;
		font-size: 28px;
		font-weight: 600;
		letter-spacing: 0.5px;   
		margin-top: 20px; 
  }  
}
