@media (min-width: 2000px) {
  body {
  	display: block;
    max-width: 2000px;
    min-width: 2000px;
    margin: 0 auto;
  }
	
	div.wide {
    display: inline-block;
  }
  .wide iframe {
  	display: block;
  }
  
  div.wideSmall {
    display: inline-block;
  }
  .wideSmall iframe {
    display: block;
  }

   div.wide-invisible {
    display: none;
  }

	.Do-you-dream-of-bein {
		top: 60px;
	}

	.Creativity-requires {
		top: 194px;
	}

	.watch-now-btn {
    bottom: 171px;
  }

  .fuel-your-passion-img {
    width: 2000px;
    height: 650px;
  }
  
  .Fuel-Your-Passion {
    width: 222px;
    height: 40px;
    left: 1445px;
    bottom: 37px;
  }

	.videos {
    max-width: 2000px;
    min-width: 2000px;
    box-sizing: border-box;   
		padding: 40px 345px 0 345px;
	}

	.video {
    display: inline-block;
    width: 300px;
    padding-bottom: 25%;
  }

  .show-more-btn {
    display: block;
    margin: 0 auto;
  }
	
  .Do-you-dream-of-bein,
  .Creativity-requires,
  .A-space-where-you-ca,
  .Watch-stories-of-how {
    margin-left: 345px;
  }

  .Whats-Your-Aspirati {
    width: 800px;
    left: 1130px;
  }


	.Rectangle-4 {
		width: 2000px;
    height: 532px;
    padding: 40px 365px;
    margin-top: 40px;
		text-align: center;
	}

	.picRow {
		/*margin-right: 40px;*/
		text-align: center;
		width: 396px;
    margin-bottom: 42px;
	}

  .support, 
  .inspiration, 
  .tips {
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }

  .subTitle {
    font-size: 46px;
    width: 396px;
    height: 62px;
    margin-top: 32px;
  }
  
  .picRow p {
  	display: inline-block;
  	margin: 0 auto;
    width: 396px;
    height: 48px;
    font-size: 16px;
    line-height: 1.5;
  }

  .At-BH-youll-find-s {
    width: 1310px;
    margin: 39px auto 20px;
    display: block;
  }

  .Welcome-to-your-pet {
    margin-bottom: 40px
  }

}
