@media (min-width: 2000px) {
  body {
  	display: block;
    max-width: 2000;
    margin: 0 auto;
  }
	
	div.wide {
    display: inline-block;
  }
  .wide iframe {
  	display: block;
  }

  .Do-you-dream-of-bein,
  .Creativity-requires,
  .watch-now-btn {
		left: 345px;
  }

	.Do-you-dream-of-bein {
		top: 60px;
	}

	.Creativity-requires {
		top: 194px;
	}

	.watch-now-btn {
    bottom: 171px;
  }

  .fuel-your-passion-img {
    width: 2000px;
    height: 650px;
  }
  
  .Fuel-Your-Passion {
    width: 222px;
    height: 40px;
    right: 336px;
    bottom: 37px;
  }

	.videos {
		padding: 40px 345px 0 345px;
		padding-left: 345px;
		padding-right: 345px;
		padding-bottom: 0;
	}

	.video {
    padding-bottom: 25%;
  }
	
	.Rectangle-4 {
		padding-bottom: 40px;
		width: 2000px;
		text-align: center;
	}

	.picRow {
		margin-right: 40px;
		text-align: center;
		width: 396px;
	}

  .support, 
  .inspiration, 
  .tips {
    width: 300px;
    height: 300px;
  }

  .subTitle {
    font-size: 46px;
    width: 396px;
    height: 62px;
    margin-top: 32px;
  }
  
  .picRow p {
  	display: inline-block;
  	margin: 0 auto;
    width: 396px;
    height: 48px;
    font-size: 16px;
    line-height: 1.5;
  }

  .At-BH-youll-find-s {
    width: 1310px;
    margin-top: 39px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

}